.fondoNav{
    z-index: 98;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: rgb(149,149,149);
}
.cartContainer{
    width: 100%;
    background: rgb(149,149,149);
    padding-top: 120px;
    padding-bottom: 60px;
    min-height: 80vh;
}
.cartContainer h3{
    color: rgb(94, 22, 234);;
}
.cartItemContaine img{
    max-height: 150px;
}

a{
    text-decoration: none;
}

.cartFoterContainer{
    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 0 10%;
    min-height: 20vh;
    background-color: rgb(149,149,149);
}
