.fondoNav{
    z-index: 98;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: rgb(149,149,149);
}
.cartContainer{
    width: 100%;
    background: rgb(149,149,149);
    padding-top: 120px;
    padding-bottom: 60px;
    min-height: 100vh;
}
.cartItemContaine img{
    max-height: 150px;
}

a{
    text-decoration: none;
}

.cartFoterContainer{}
